/* CSS Styling for the LiveRaceing element */

.liveracing-container {
  display: inline-grid;
  justify-items: center;
  grid-row-gap: 0.5rem;
  padding: 0.5rem 0;
  border: 1rem solid var(--background-color);
  width: fit-content;
  margin: 0 auto;
  background-color: var(--background-color);
}

/* Center the spinner element and heading */
.centertext {
  display: grid;
  justify-items: center;
  margin: 2rem 0;
}

/* Remove list bullet points */
ol {
  list-style-type: none;
}

li {
  padding: 0.1rem 0;
}

/* Media query - limit element width for non mobile displays */

@media only screen and (min-width: 51.25rem) {
  .liveracing-container {
    /* display: grid;
    width: 75%; */
  }
}
