/* Navigation Bar component styling */

.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-bottom: 0.25rem solid purple;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

.navbar-logo {
  padding: 0.5rem;
  justify-self: start;
}

.btn-burger {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  background: #3f3f3f;
  color: white;
  border: none;
  color: white;
}

.burger {
  width: 2.5rem;
  height: 2.5rem;
}
.menunav {
  display: none;
  transition: all 5s ease;
}

.menunav.showMenu {
  width: 55%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 7rem;
  right: 0;
  background: #3f3f3f;
  margin: 0;
  padding: 0;
  align-items: flex-start;
  opacity: 0.9;
  transition: all 5s ease;
  border: 3px solid purple;
  border-radius: 0 0 0.5rem 0.5rem;
}

.nav-item {
  list-style-type: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-decoration: none;
}

.nav-link {
  color: white;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  margin: 0;
}

.nav-link:hover {
  color: lightskyblue;
  background: grey;
  border-radius: 0.4rem;
  transition: all 0.25s ease;
}

.icon {
  position: relative;
  top: 0.2rem;
}

/* Media query - Show top menu at > 30rem */
/* Hide the menu burger and re-align the navigation UL items */

@media only screen and (min-width: 51.25rem) {
  .btn-burger {
    display: none;
  }

  .menunav {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: right;
    width: 100%;
    grid-gap: 1rem;
    align-items: center;
  }
}
